<footer class="footer">
	{{#with data}}
	<nav class="footer_nav">
		<div class="nav {{#if isVertical}}nav_vertical{{else}}nav_inline{{/if}}">
			{{#each pages}}
			<a href="{{path}}" class="nav_footerLink">{{name}}</a>
			{{/each}}
		</div>
	</nav>
	<div class="copyright">{{copyright}}</div>
	{{/with}}
</footer>